.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  margin: 2rem auto 2rem auto;
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-small {
  width: 2rem;
}

.navbar ul {
  display: flex;
  gap: 2rem;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li:hover {
  font-weight: bold;
}
